// файл для основных стилей для всей страницы
html,body {overflow-x: hidden;}

body {
	font-family: 'Roboto',sans-serif;
	color : $gray;
	background-color: $background-dark-blue;
}

p,a,button {color: $gray}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {@include min-max(320px, 100%);}

.wrap {@include min-max(320px,1180px);}
